<div class="searchContainer" ng-hide="searchStart">

  <div class="row">
    <label>Enter a repository name (userName/reposName)<br/> or a full repository URL (https://github.com/userName/reposName)</label>
    <br/>
    <div class="input-group-btn">
      <form>
      <input type="text" class="form-control gitReposInput" placeholder="Search" ng-model="gitRepos">
      <button class="btn btn-primary gitReposSearchBtn" type="submit" ng-click="startSearch()" ng-disabled="gitRepos.length == '0' || gitRepos == ''">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </form>
    </div>
  </div>

</div>

<button class="btn btn-success gitReposSearchBtn pull-right" type="submit" ng-click="newSearch();" style="margin-bottom: 15px;" ng-show="searchStart">
  <span>New Search</span>
  <i class="glyphicon glyphicon-search"></i>
</button>
<div class="currentUser clearfix" ng-show="currentUser">
  <div class="pull-left pull-right-5">
    <a href="{{currentUser.html_url}}" target="_blank">
      <img src="{{currentUser.avatar_url}}" width="100" height="100" />
    </a>
  </div>
  <p># of contributions: <span>{{currentUser.contributions}}</span></p>
  <p># of Repos: <span>{{currentContributorsRepos.length}}</span></p>
  <p>Repos:
    <label ng-repeat="userInfo in currentContributorsRepos | limitTo: 4">
      <a href="https://github.com/{{userInfo.full_name}}" target="_blank">{{userInfo.full_name}}</a>
      <span class="pull-right-5" ng-if="$index < 3 && currentContributorsRepos.length > 1 ">,</span>
    </label>
    <span ng-if="currentContributorsRepos.length > 4">...</span>
  </p>
</div>
<div class="searchContainer" ng-show="searchStart">
  <table class="table table-striped table-bordered text-center clearfix">
     <thead>
       <tr>
          <th class="text-center">Avatar</th>
          <th class="text-center">Date Created</th>
          <th class="text-center">Description</th>
          <th class="text-center">Contributors</th>
          <th class="text-center">Full Name</th>
       </tr>

     </thead
     <tbody>
       <tr>
           <td><img src="{{value.owner.avatar_url}}" width="50" /></td>
           <td>{{value.created_at | date}}</td>
           <td>{{value.description}}</td>
           <td><a class="btn gitUser" ng-click="displayUserInfo(user);" ng-repeat="user in contributors">{{user.login}}</a></td>
           <td><a href="{{value.html_url}}" target="_blank">{{value.full_name}}</a></td>
       </tr>
    </tbody>
  </table>
</div>
